/* Shared styles*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.btn-primary{
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    font-size: .7rem;
    font-weight: 500;
    border: none;
    padding: 9px;
}

/* body */
body{
    margin: 0% 90px;
}

/*header*/
header img{
    width: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 9px;
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: .7rem;
    font-weight: 600;
}
nav ul li:nth-child(1) a{
    color:rgba(37, 36, 50, 1) ;
}
nav ul li:nth-child(2) a,nav ul li:nth-child(3) a{
    color: rgba(137, 135, 161, 1);

}
nav ul li:last-child a{
    color: black;
    
}

/* main*/
main section{
    margin-top: 90px;

}
/*section banner */
.Banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Banner h1{
    font-size: 3rem;
    font-weight: 700;
    color: black;
}
span{
   color: rgba(233, 90, 8, 1); 
}
.Banner p ,.Plants p ,.para{
    font-size: .89rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/*plant section*/
.Plants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Plants h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    margin: 0%;
}
.plants-garden{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
   
    margin-bottom: 10px;
}
.card img{
    width: 100%;
}
.card button{
    width: 100%;
} 
.card h4{
    margin: 0%;
    color: #111111;
    font-size: .9rem;
    font-weight: 500;
}
.card h5{
    margin: 7px;
    color: #111111;
    font-size: .9rem;
    font-weight: 600;
}
/*Flowers & plants Lover section */
.contain-flower{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: justify;
}
.contain-flower img{
    width: 100%;

}
.flower-info{
    width: 60%;
    padding: 10px;
}
.flower-info ul li:first-child{
    list-style: none;
}
.flower-info h4{
    font-size: 2.5rem;
    color: black;
}
.div{
    display: flex;
    justify-content: center;
   margin-right: 50px;
    margin-bottom: -110px;
  
}
.tag{
    width: 20%;
    z-index: 1;
   
}
